.landingpage{
    width: 99.8%;
    margin: auto;
    display: flex; 
    /* justify-content: space-between; */
    border: 1px solid;
    /* gap: 40px; */
}

.landingpage .containerdiv{
    width: 100%;
    border: 1px solid blue;
    /* height: 30px; */
}
.slider{
    width: 20%;
    border: 1px solid red;
    background-color: #f9f4f0;
    height: 300px;
}
.stack{
    padding: 10px;
    margin-top: 30px;
    background-color: white;
    height: 100px;
    border-radius: 10px;
}
.btn10{
    width: 70%;
    height: 40px;
    margin-top: 30px;
    font-size:20px ;
    font-weight: 400;
}