.container {
  width: 99%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.container div {
  width: 100%;
  /* border: 1px solid red; */
  height: 700px;
  margin: auto;
}
.imagediv {
  background-color: #7071ff;
  text-align: center;
}
.imagediv i {
  width: 55%;
  display: grid;
  place-items: center;
  margin-top: 25%;
  margin-left: 25%;
  color: white;
  font-size: 20px;
  font-weight: 500;
}
.imagediv p {
  color: white;
}
.imagediv h2 {
  color: white;
}
.Signup {
  display: flex;
  justify-content: space-between;
  /* gap: 10px; */
}
.Signup div {
  width: calc(85%);
  margin-left: 15%;
}
.nav {
  padding: 20px;
  /* display: flex;
    justify-content: space-between; */
}
.btn4 {
  margin-left: 50%;
  width: 100px;
  height: 40px;
  /* margin-top: -100px; */
  border-radius: 10px;
  font-size: 20px;
  height: 50px;
  font-weight: 500;
  margin-top: 10px;
}
.btn4:hover {
  border-color: rgb(254, 103, 103);
  color: rgb(254, 103, 103);
}
.form {
  width: 100%;
  /* theme.spacing(3) */
}
.gogglelognin {
  width: 30%;
  height: 40px;
  /* display: flex;
    justify-content: space-between; */
}
.btn5 {
  width: 35%;
  height: 40px;
  font-size: 30px;
  border-radius: 10px;
  margin-top: -0px;
  background-color: white;
}
.btn6 {
  margin-left: 110px;
  width: 34%;
  height: 40px;
  font-size: 25px;
  border-radius: 10px;
  background-color: white;
  margin-top: 30px;
}
.form {
  margin-top: 40px;
  /* padding: 20px; */
}
.label {
  position: relative;
  display: inline;
  align-items: center;
  max-width: 100%;
  height: auto;
}
.inputtag{
  width: 40%;
  height: 40px;
  border-radius:5px ;
  font-weight: 500;
  font-size: 20px;
  padding: 5px;
}
.email{
  margin-top: 40px;
  width: 89%;
  height: 40px;
  border-radius:5px ;
  font-weight: 500;
  font-size: 20px;
}
.password{
  margin-top: 40px;
  width: 89%;
  height: 40px;
  border-radius:5px ;
  font-weight: 500;
  font-size: 20px;
}
.submit{
  margin-top: 40px;
  width: 89%;
  height: 40px;
  border-radius:5px ;
  font-weight: 500;
  font-size: 20px;
}